@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
}

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem;
    text-transform: capitalize;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text{
    font-size: 2rem;
    font-weight: bold;
}

.nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width: 768px){
    .nav{
        display: flex;
    }
    
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color .2s;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-btn{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: background-color .2s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 768px){
    .contact-btn{
        display: block;
        margin-right: .6rem;
    }
    
}

.contact-btn:hover{
    background-color: #5254f8;
}

.menu-btn{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: .5rem .9rem;
}

@media screen and (max-width: 768px){
    .menu-btn{
        display: block;
    }
    
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-sect{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: .6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-desc{
    font-size: 1.3rem;
    color: var(--gray);
}

.button-grp{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.start-btn,
.tour-btn{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: background-color .2s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;   
}

.tour-btn{
    background-color: var(--dark-gray);
}

.start-btn:hover{
    background-color: #5254f8;
}

.tour-btn:hover{
    background-color: var(--gray);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    border: none;
   border-radius: 1.225rem;
   overflow: hidden;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   height: 50vh;
}

.section-img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px){
    .main-sect{
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .content-left{
        max-width: 50%;
        text-align: left;
    }

    .section-title{
        padding-left: 0;
    }

    .button-grp{
        justify-content: start;
        padding-left: 0;
    }

    .section-label{
        font-size: 1rem;
    }

    .section-title{
        font-size: 3rem;
    }
    
    .img-container{
        height: 65vh;
    }

    .section-desc{
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 1rem;
    border: none;
    border-radius: .625rem;
    background-color: var(--light-gray);
    margin: 2rem 0 3rem 0;
    padding: 1.8rem 2.5rem;
}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: .5rem;
}

.svg-logo{
    height: 1.56rem;
}

.logo-txt{
    font-size: 1rem;
}

@media screen and (min-width: 640px){
    .company-grid{
        grid-template-columns: repeat(4, 1fr);
    }

    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
    
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;

}

.main-info{
    display: flex;
    flex-direction: column;
    gap: rem;
    align-items: center;
}

.main-title{
    font-size: 2.2rem;
    font-weight: bold;
}

.main-desc{
    font-size: 1rem;
    color: var(--gray);
    margin-top: 1rem;

}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.3rem;
    grid-gap: 2rem;
}

.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d7890;
    padding: 2rem;
    border-radius: .5rem;
}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-title, .feature-desc{
    color: var(--background-color);
    text-align: center;
}

.feature-title{
    font-size: 1.3rem;
    font-weight: 600;
}

.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #ff6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width: 768px){
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.test-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(226, 223, 223);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform .3s ease, box-shadow .3s ease;
}

.testimonial-card:hover{
    transform: translateY(-5px) scale3d(1.02, 1.02, 1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(192, 192, 192);
}

.testimonial-avatar img{
    height: 4rem;
    width: 4rem;
}

.testimonial-text{
    font-size: .875rem;

}

.testimonial-details h3{
    font-size: 1rem;
    color: var(--primary-color);
}

.testimonial-details p{
    font-size: .875rem;
    color: #777;
}

.newsletter-container{
    background-color: var(--background-color);
    max-width: 1280px;
    height: 20%;
    margin: 1rem auto;
    padding-bottom: 5rem;
}

.newsletter-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
}

.news-left{
    height: 100%;
    width: 50%;
    display: none;
    position: relative;
}

.news-left img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 0 0 8px;
}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
}

@media screen and (min-width: 640px){
    .news-left{
        display: block;
        width: 50%;
    }

    .news-right{
        width: 50%;
    }

    .newsletter-container{
        padding: 2rem;
    }
    

}

.news-info{
    padding: 0 3rem;
}

.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
}

.news-desc{
    text-align: left;
    color: #777;
    font-size: .7rem;
}

.news-form{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
    gap: .6rem;
    margin-bottom: 1rem;
}

.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .5rem .75rem;
}

.news-email:focus{
    border-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(99, 102, 241, 0.5);
}

.news-send-btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: .25rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.news-send-btn:hover{
    background-color: var(--link-color);
}

.privacy-policy{
    padding: 0 3rem 2rem 3rem;
    font-size: .7rem;
    color: #777;
}

.news-link{
    text-decoration: underline;
    color: var(--primary-color);
}

@media screen and (min-width: 900px) {
    .news-title{
        font-size: 2.5rem;
    }

    .news-desc{
        font-size: 1.1rem;
    }

    .privacy-policy{
        font-size: .875rem;
    }

    .newsletter-container{
        height: 50vh;
    
    }
}

@media screen and (max-width: 1190px){
    .newsletter-container{
        height: 50vh;
    }
    
}

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: var(--text-color);
}

.comp-logo{
    display: flex;
    justify-content: start;
    margin-bottom: -1.9rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.social{
    display: flex;
    gap: 1.8rem;
}

.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.filler-text{
    font-size: 1rem;
    color: #777;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5.6rem;
    /* padding: 2rem .5rem; */   
    width: 58%;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 1.65rem;
}

ul{
    list-style: none;
}

.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;    
}

.footer-link{
    color: #777;
    font-size: .87rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: .75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #e5e7eb;
    padding-top: 1.15rem;
}

@media screen and (max-width: 1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer-top{
        margin-left: 5rem;
    }

    .footer-grid{
        align-self: center;
        /* justify-content: space-evenly */
        margin-right: 10rem;
    }
    
}

@media screen and (max-width: 850px) {
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 13rem;
    }

    .footer-top{
        margin-right: 3rem;
    }
}

@media screen and (max-width: 580px) {
    .footer-grid{
        margin-right: 18rem;
    }

    .footer-top{
        margin-right: 15rem;
    }
}